
server/microservices/registry/mvnw
server/microservices/registry/mvnw.cmd
server/microservices/gateway/mvnw.cmd
server/microservices/gateway/mvnw
server/microservices/gateway/mvnw.cmd
server/microservices/gateway/mvnw
